body {
font-family: Open Sans, Droid Sans;
font-size: 12px;
margin:auto;
padding:0px;
width:400px;
margin-top: 50px;
}

#login {
border: 1px solid #4D9E98;
background: #6FC3BF;
width: 400px;
height: 200px;
border-radius: 5px; /* Standart */
-moz-border-radius: 5px; /* Firefox */
-webkit-border-radius: 5px; /* Safari ve Chrome */
margin-top: 20px;
}

#login .row {
margin: auto;
width: 200px;
padding: 5px;
text-align: center;
margin-top: 10px;

}

.button {
cursor: pointer;
border:1px solid #CCCCCC;
-webkit-box-shadow: #FEFFFF 0px 1px 1px ;
-moz-box-shadow: #FEFFFF 0px 1px 1px ; 
box-shadow: #FEFFFF 0px 1px 1px ; 
-webkit-border-radius: 3px; 
-moz-border-radius: 3px;border-radius: 3px; 
padding: 10px 10px 10px 10px; 
text-decoration:none; 
display:inline-block;
text-shadow: 0px 1px 0 rgba(255,255,255,1); 
color: #4A4A4A;
background-color: #f2f5f6; 
background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f5f6), to(#c8d7dc));
background-image: -webkit-linear-gradient(top, #f2f5f6, #c8d7dc);
background-image: -moz-linear-gradient(top, #f2f5f6, #c8d7dc);
background-image: -ms-linear-gradient(top, #f2f5f6, #c8d7dc);
background-image: -o-linear-gradient(top, #f2f5f6, #c8d7dc);
background-image: linear-gradient(to bottom, #f2f5f6, #c8d7dc);
filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f2f5f6, endColorstr=#c8d7dc);
}

.button:hover{
 border:1px solid #ADADAD;
 background-color: #d4dee1; 
 background-image: -webkit-gradient(linear, left top, left bottom, from(#d4dee1), to(#a9c0c8));
 background-image: -webkit-linear-gradient(top, #d4dee1, #a9c0c8);
 background-image: -moz-linear-gradient(top, #d4dee1, #a9c0c8);
 background-image: -ms-linear-gradient(top, #d4dee1, #a9c0c8);
 background-image: -o-linear-gradient(top, #d4dee1, #a9c0c8);
 background-image: linear-gradient(to bottom, #d4dee1, #a9c0c8);
 filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#d4dee1, endColorstr=#a9c0c8);
}

.inputbox {
background: transparent url(http://localhost/admus/images/input-text.png) repeat-x; 
	border: 1px solid #999; 
	outline:0; 
	height:25px; 
	width: 200px;
}

#message {
	border: 1px solid #ff0000;
	background-color: #dadada;
	color: red;
	font-weight: bold;
	height: 20px;
	line-height: 20px;
	padding: 10px;
	margin-bottom: 5px;
}

.footer, #sql {
background: #dadada;
border: 1px solid #cacaca;
margin-top: 10px;
padding: 5px 5px 5px 5px;
border-radius: 5px; /* Standart */
-moz-border-radius: 5px; /* Firefox */
-webkit-border-radius: 5px; /* Safari ve Chrome */
}

.veriitem0 {
background: #fafafa;
height: 21px;
margin-top: 2px;
text-align: left;
padding-left: 5px;
}

.veriitem1 {
background: #dadada;
height: 21px;
margin-top: 2px;
text-align: left;
padding-left: 5px;
}